body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

.hero {
    background-color: #6943FF;
    padding: 30px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}
.hero h2 {
    font-size: 1.4rem;
}

.hero input {
    width: 65px;
    height: 47px;
    border: 2px solid #B295FF;
    border-radius: 5px;
    background-color: transparent;
    margin-bottom: 20px;
    color: inherit;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 50px;
    line-height: 24px;
    /* or 42% */

    text-align: center;
    padding: 4px
}

.hero #convert-btn {
    background: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    border: none;
    padding: 9px 15px;
    font-size: .8rem;
}

.villian {
    background-color: #1F2937;
    padding: 30px;
    
}

section {
    background: #273549;
    border-radius: 4.68077px;
    padding: 5px;
    margin-bottom: 20px;
    color: white;
}

section h3 {
     font-family: 'Inter';
     font-weight: 400;
}